{{- define "main" }}
<div class="terminal-tags">
    <header class="tags-header">
        <div class="tags-info">
            <h1>{{ .Title }}</h1>
        </div>
        <div class="tags-meta">
            <span class="count">total {{ len .Data.Terms }}</span>
        </div>
    </header>
    
    <div class="tags-separator"></div>
    
    <div class="tags-list">
        <div class="tags-header-row">
            <div class="col-tag">TAG</div>
            <div class="col-count">COUNT</div>
        </div>
        
        <div class="tags-header-separator"></div>
        
        {{- range .Data.Terms.Alphabetical }}
        <div class="tag-row">
            <div class="col-tag">
                {{- $iconClass := site.Params.tagIcons.default }}
                {{- $tagIcon := index site.Params.tagIcons .Page.Title }}
                {{- if $tagIcon }}
                    {{- $iconClass = $tagIcon }}
                {{- end }}
                <a href="{{ .Page.Permalink }}">
                    <i class="nf {{ $iconClass }} tag-icon"></i>
                    {{ .Page.Title }}
                </a>
            </div>
            <div class="col-count">{{ .Count }}</div>
        </div>
        {{- end }}
    </div>
</div>
{{- end }}