{{- define "main" }}
<div class="terminal-posts">
    <header class="posts-header">
        <div class="posts-info">
            <h1>Posts</h1>
        </div>
        <div class="posts-meta">
            {{- $posts := where site.RegularPages "Section" "in" (slice "posts" "trading-journal") }}
            <span class="count">total {{ len $posts }}</span>
        </div>
    </header>
    
    <div class="posts-separator"></div>
    
    <div class="posts-list">
        <div class="posts-header-row">
            <div class="col-date">DATE</div>
            <div class="col-title">TITLE</div>
        </div>
        
        <div class="posts-header-separator"></div>
        
        {{- $posts := where site.RegularPages "Section" "in" (slice "posts" "trading-journal") }}
        {{- range $posts.ByDate.Reverse }}
        <div class="post-row">
            <div class="col-date">{{ .Date.Format "2006-01-02" }}</div>
            <div class="col-title">
                {{- $iconClass := site.Params.categoryIcons.default }}
                {{- if .Params.category }}
                    {{- $categoryIcon := index site.Params.categoryIcons .Params.category }}
                    {{- if $categoryIcon }}
                        {{- $iconClass = $categoryIcon }}
                    {{- end }}
                {{- end }}
                <i class="nf {{ $iconClass }} post-icon"></i>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{- if .Params.lang }}
                <span class="post-lang">[{{ .Params.lang }}]</span>
                {{- end }}
            </div>
        </div>
        {{- end }}
    </div>
</div>
{{- end }}